
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$yellow-100:#f9d889;
$yellow-200:#f9c64e;
$yellow-300:#ecbd2c;
$yellow-400:#cc9f13;
$yellow-500:#a57d00;
$red-100:#dea7a7;
$red-200:#e68a8a;
$red-300:#d54e4e;
$red-400:#cc2f00;
$red-500:#ac0404;
$blue-100:#77aaff;
$blue-200:#99ccff;
$blue-300:#bbeeff;
$blue-400:#5588ff;
$blue-500:#3366ff;
$black:    #000 !default;

// fusv-disable
$grays: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
) !default;

$yellows:(
    "yellow-100":$yellow-100,
    "yellow-200":$yellow-200,
    "yellow-300":$yellow-300,
    "yellow-400":$yellow-400,
    "yellow-500":$yellow-500,
)!default;

$reds:(
    "red-100":$red-100,
    "red-200":$red-200,
    "red-300":$red-300,
    "red-400":$red-400,
    "red-500":$red-500,
)!default;


$blues:(
    "blue-100":$blue-100,
    "blue-200":$blue-200,
    "blue-300":$blue-300,
    "blue-400":$blue-400,
    "blue-500":$blue-500,
)!default;

// scss-docs-start theme-color-variables
$primary:       $yellow-100 !default;
$secondary:     $blue-100 !default;
$success:       $blue-400 !default;
$info:          $blue-100 !default;
$warning:       $red-400 !default;
$danger:        $red-500 !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";